@{
    ViewBag.Title = Layout;
    String action = ViewContext.RouteData.Values["action"].ToString();
}
<script type="text/javascript" src="~/Scripts/jQuery.GridList.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#div_allocation").hide();
        BindItem();
        BindCompany();
        $('#drp_company').change(function (e) {
            BindDivision($("#drp_company").val());
            BindDesignation($("#drp_company").val());

        });
        $('#drp_division').change(function (e) {
            BindUnit($("#drp_company").val(), $("#drp_division").val());
            
        });
        $('#drp_unit').change(function (e) {
            BindDepartment($("#drp_company").val(), $("#drp_division").val(), $("#drp_unit").val());
        });

        $('#txt_joindate').datepicker('setStartDate', new Date());

        //BindDesignation();
        BindLocation();
        BindHOD();
        LoadGridData();
    });
    function enabled() {
        if ($("#drp_allocation").val() == "2") {
            $("#div_allocation").show();
        }
        else {
            $("#div_allocation").hide();
        }
    }
    function SubmitRequest() {
        var formid = 'frm_NewJoiner';
        var obj = validateForm(formid);
        if (obj.form()) {
            var Form = document.getElementById(formid);
            Form.action = '@Url.Action("AssetRequest", "Asset")';
                $("#" + formid).ajaxForm({
                    iframe: true,
                    dataType: "json",
                    success: function (result) {
                        if (result.MessageCode == "-1") {
                            ShowError(result.message);
                            return false;
                        }
                        else {
                            ShowSuccess(result.message);
                            $("#" + formid).action = "";
                            $("#" + formid).trigger("reset");
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert("error");
                        ShowError("Error Occured Submiting Asset Request. Try Restarting your current session.");
                    }
                });
            }
            else {
                var Form = document.getElementById(formid);
                Form.action = "";
                return false;
            }
        }
    function validateForm(formid) {
        return $("#" + formid).validate({
            errorElement: 'div',
            errorClass: 'help-block',
            focusInvalid: false,
            ignore: "",
            rules: {
                drp_company: {
                    required: true
                },
                drp_division: {
                    required: true
                },
                drp_unit: {
                    required: true
                },
                drp_department: {
                    required: true
                },
                drp_designation: {
                    required: true
                },
                drp_location: {
                    required: true
                },
                drp_reqtype: {
                    required: true
                },
                drp_item: {
                    required: true
                },
                drp_allocation: {
                    required: true
                },
                txt_empname: {
                    required: true
                },
                txt_joindate: {
                    required: true
                },
                drp_hod: {
                    required: true
                },
                txt_remarks: {
                    required: true
                }
            },

            messages: {
                drp_company: {
                    required: "Please Select Company"
                },
                drp_division: {
                    required: "Please Select Division"
                },
                drp_unit: {
                    required: "Please Select Unit"
                },
                drp_department: {
                    required: "Please Select Department"
                },
                drp_designation: {
                    required: "Please Select Designation"
                },
                drp_location: {
                    required: "Please Select Location"
                },
                drp_reqtype: {
                    required: "Please Select Request For"
                },
                drp_item: {
                    required: "Please Select Item"
                },
                drp_allocation: {
                    required: "Please Select Allocation"
                },
                txt_empname: {
                    required: "Please Enter Employee Name"
                },
                txt_joindate: {
                    required: "Please Enter Joining Date"
                },
                drp_hod: {
                    required: "Please Select HOD"
                },
                txt_remarks: {
                    required: "Please Enter Remarks"
                }
            },
            
            highlight: function (e) {
                $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
            },

            success: function (e) {
                $(e).closest('.form-group').removeClass('has-error'); //.addClass('has-info');
                $(e).remove();
            },

            errorPlacement: function (error, element) {
                if (element.is('input[type=checkbox]') || element.is('input[type=radio]')) {
                    var controls = element.closest('div[class*="col-"]');
                    if (controls.find(':checkbox,:radio').length > 1) controls.append(error);
                    else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
                }
                else if (element.is('.select2')) {
                    error.insertAfter(element.siblings('[class*="select2-container"]:eq(0)'));
                }
                else if (element.is('.chosen-select')) {
                    error.insertAfter(element.siblings('[class*="chosen-container"]:eq(0)'));
                }
                else error.insertAfter(element.parent());
            },

            submitHandler: function (form) {
            },
            invalidHandler: function (form) {
            }
        });
    }
    function LoadGridData() {
        var action = '@action.ToString()';
        if (action == "NewJoiner")
            $("#hdn_self").val(2);
        else
            $("#hdn_self").val(2);

        var objurl = '@Url.Content("~/Asset/GetAssetReqListJQGrid")' + "?Self=" + $("#hdn_self").val();
        var jqTable = '#jqTable2';
        var jqTablePager = '#jqTablePager2';
        var objcolNames = ['Action', 'Request No', 'Request For', 'Item', 'HOD', 'Finance Controller'];
        var objcolModel = [
                            {
                                name: 'Action', index: 'Action', width: 130, formatter: function (cellvalue, options, rowObject) {
                                    return "<div title=\"History\" style=\"float:left;cursor:pointer;\" class=\"ui-pg-div ui-inline-edit\" onclick=\"ViewHistory('" + rowObject[1] + "'); \" id=\"jEditButton_1\"><span class=\"ui-icon fa fa-th-large fa-1x bigger-120 blue\"></span></div><div title=\"Edit\" style=\"float:left;cursor:pointer;\" class=\"ui-pg-div ui-inline-edit\" onclick=\"FillAssetDetail('" + rowObject[1] + "'); \" id=\"jEditButton_1\"><span class=\"ace-icon fa fa-pencil blue bigger-125\"></span></div><div title=\"Delete\" style=\"float:left; cursor:pointer;\" class=\"ui-pg-div ui-inline-edit\" id=\"jDeleteButton_1\" onclick=\"AssetRequestDelete('" + rowObject[1] + "'); \" title=\"Delete\">&nbsp;&nbsp;<span class=\"ace-icon fa fa-trash-o bigger-120 red\"></span></div>";
                                }
                            },
                            { name: 'Nrequestno', index: 'Nrequestno', width: 130 },
                            { name: 'RequestFor', index: 'RequestFor', width: 150 },
                            { name: 'ItemName', index: 'ItemName', width: 150 },
                            { name: 'HODName', index: 'HODName', width: 250 },
                            { name: 'FCName', index: 'FCName', width: 250 }
        ];
        var objcaption = "Asset Request Details";
        var objjqGridonSelectRow = null;
        var objsortname = "Nrequestno";
        var objsortorder = "asc";
        jQuery(jqTable).jqGrid('clearGridData');
        jQuery(jqTable).jqGrid('setGridParam', { url: objurl });
        jQuery.GridList.Grid(jqTable, jqTablePager, objcolNames, objcolModel, objurl, objcaption, objsortname, objsortorder, objjqGridonSelectRow);
        jQuery(jqTable).trigger('reloadGrid');
    }
    function FillAssetDetail(Reqno) {
        $.ajax({
            url: "../Asset/fetchAssetReqDetails?Reqno=" + Reqno,
            type: 'post',
            async: false,
            contenttype: 'application/json; charset=utf-8',
            datatype: 'json',
            success: function (a) {
                //debugger;
                if (a.reqStatus == "-1") {
                    showerror(a.reqMessage);
                    return false;
                }
                else {
                    $("#hdn_reqno").val(a.Nrequestno);
                    $("#drp_company").val(a.Ncompany).change();
                    $("#drp_division").val(a.Ndivision).change();
                    $("#drp_unit").val(a.Nunit).change();
                    $("#drp_department").val(a.Ndepartment).change();
                    //$("#drp_designation").val("0" + a.Ndesignation).change();
                    $("#drp_designation").val(a.Ndesignation).change();
                    $("#drp_location").val(a.Nlocation).change();
                    $("#drp_reqtype").val(a.Nreqtype).change();
                    $("#drp_item").val(a.Nitemno).change();
                    $("#drp_allocation").val(a.Nallocationtype).change();
                    $("#txt_empname").val(a.Vempname);
                    $("#txt_joindate").val(a.Djoiningdate);
                    $("#drp_hod").val(a.Vhodempno).change();
                    $("#txt_remarks").val(a.Vreason);

                    LoadGridData();
                }
            },
            beforeSend: function () {
                $('#ajaxStatus').show();
            },
            complete: function () {
                $('#ajaxStatus').hide();
            },
            error: function (a) {
                alert(a);
                $('#ajaxStatus').hide();
            }

        });
    }
    function AssetRequestDelete(Reqno) {
        $.ajax({
            url: "../Asset/DeleteAssetRequest?Reqno=" + Reqno,
            type: 'POST',
            async: false,
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (a) {
                if (a.MessageCode == "-1") {
                    ShowError(a.message);
                    return false;
                }
                else {
                    ShowSuccess(a.message);
                    $("#refresh_jqTable2").click();
                }
            }, error: function (a) { alert(a) }
        });
    }
    function ViewHistory(Reqno) {
        var objurl = '@Url.Content("~/Asset/AssetReqHistory")';
        var objdata = '{Reqno: "' + Reqno + '" }';
        var objbuttons = [
                       {
                           html: "<i class='ace-icon fa fa-times bigger-110 dark'></i><span style='color: #121212' accesskey='c'>&nbsp; Close</span>",
                           "id": "btn_gvsearchgpno",
                           "name": "btn_gvsearchgpno",
                           "class": "btn",
                           "style": "padding: 8px;",
                           click: function () {
                               $(this).dialog("close");
                           }
                       }
        ];
        jQuery.GridList.popuppartialview(objurl, objdata, "View History", "viewAssetRequest", objbuttons);
    }
</script>
<form class="form-horizontal" id="frm_NewJoiner" name="frm_NewJoiner" method="post" action="" novalidate="novalidate">
    <input type="hidden" id="hdn_reqno" name="hdn_reqno" value="0" />
    <input type="hidden" id="hdn_self" name="hdn_self" value="" />

    <div class="widget-box col-sm-11">
        <div class="widget-header widget-header-flat">
            <h4 class="widget-title smaller">
                <i class="ace-icon fa fa-list-alt smaller-120"></i>Asset Request
            </h4>
        </div>
        <div class="widget-body">
            <div class="widget-main">
                <div class="container-fluid">
                    <div class="row">
                        <div class="container-fluid shadow">
                            <div class="row">
                                <div id="valErr" class="row viewerror clearfix hidden">
                                    <div class="alert alert-danger">Oops! Seems there are some errors..</div>
                                </div>
                                <div id="valOk" class="row viewerror clearfix hidden">
                                    <div class="alert alert-success">Yay! ..</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label control-label-left col-sm-3" for="drp_company">Comapny:</label>
                                            <div class="controls col-sm-9">
                                                <select id="drp_company" name="drp_company" class="select2 form-control" data-parsley-errors-container="#errId1" data-placeholder="Click to Choose Company..." aria-hidden="true"></select>
                                                <span id="errId1" class="error"></span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label control-label-left col-sm-3" for="drp_division">Division: </label>
                                            <div class="controls col-sm-9">
                                                <select id="drp_division" name="drp_division" class="select2 form-control" data-parsley-errors-container="#errId1" data-placeholder="Click to Choose Division..." aria-hidden="true"></select>
                                            </div>
                                            <span id="errId1" class="error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label control-label-left col-sm-3" for="drp_unit">Unit:</label>
                                            <div class="controls col-sm-9">
                                                <select id="drp_unit" name="drp_unit" class="select2 form-control" data-parsley-errors-container="#errId1" data-placeholder="Click to Choose Unit..." aria-hidden="true"></select>
                                                <span id="errId1" class="error"></span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label control-label-left col-sm-3" for="drp_department">Department: </label>
                                            <div class="controls col-sm-9">
                                                <select id="drp_department" name="drp_department" class="select2 form-control" data-parsley-errors-container="#errId1" data-placeholder="Click to Choose Department..." aria-hidden="true"></select>
                                            </div>
                                            <span id="errId1" class="error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label control-label-left col-sm-3" for="drp_designation">Designation:</label>
                                            <div class="controls col-sm-9">
                                                <select id="drp_designation" name="drp_designation" class="select2 form-control" data-parsley-errors-container="#errId1" data-placeholder="Click to Choose Designation..." aria-hidden="true"></select>
                                                <span id="errId1" class="error"></span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label control-label-left col-sm-3" for="drp_location">Location: </label>
                                            <div class="controls col-sm-9">
                                                <select id="drp_location" name="drp_location" class="select2 form-control" data-parsley-errors-container="#errId1" data-placeholder="Click to Choose Location..." aria-hidden="true"></select>
                                            </div>
                                            <span id="errId1" class="error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label control-label-left col-sm-3" for="drp_reqtype">Request For:</label>
                                            <div class="controls col-sm-9">
                                                <select id="drp_reqtype" name="drp_reqtype" class="select2 form-control" data-parsley-errors-container="#errId1" data-placeholder="Click to Choose Location..." aria-hidden="true">
                                                    <!--
                                                    <option value="1">Replacement of Existing System</option>
                                                    -->
                                                    <option value="2" selected="selected">New System</option>
                                                </select>
                                                <span id="errId1" class="error"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label control-label-left col-sm-3" for="drp_item">Item: </label>
                                            <div class="controls col-sm-9">
                                                <select id="drp_item" name="drp_item" class="select2 form-control" data-parsley-errors-container="#errId1" data-placeholder="Click to Choose Item..." aria-hidden="true"></select>
                                            </div>
                                            <span id="errId1" class="error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label control-label-left col-sm-3" for="drp_allocation">Allocation: </label>
                                            <div class="controls col-sm-9">
                                                <select id="drp_allocation" name="drp_allocation" class="select2 form-control" data-parsley-errors-container="#errId1" data-placeholder="Click to Choose Allocation..." aria-hidden="true" onchange="enabled();">
                                                    <option value="1" selected="selected">Permanent</option>
                                                    <option value="2">Temporary</option>
                                                </select>
                                            </div>
                                            <span id="errId1" class="error"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6" id="div_allocation">
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-3 no-padding-right">Until : </label>

                                            <div class="col-xs-12 col-sm-5">
                                                <div class="clearfix">
                                                    <input class="date-picker col-xs-12 col-sm-9" id="txt_allocationdate" name="txt_allocationdate" type="text" data-date-format="dd-M-yyyy" value="">
                                                    <span class="badge badge-yellow" style="margin-left: 15px;"><span title="" class="ace-icon fa fa-question gray" data-rel="tooltip" data-placement="right" data-original-title="Enter From Date in DD/MM/YYYY format"></span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label control-label-left col-sm-3" for="txt_empname">Employee Name:</label>
                                            <div class="controls col-sm-9">
                                                <input id="txt_empname" type="text" class="form-control k-textbox" data-role="text" name="txt_empname" data-parsley-errors-container="#errId3"><span id="errId3" class="error"></span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label control-label-left col-sm-3" for="txt_joindate">Data Of Joining:</label>
                                            <div class="col-xs-12 col-sm-9">
                                                <div class="clearfix">
                                                    <input class="date-picker col-xs-12 col-sm-9" id="txt_joindate" name="txt_joindate" type="text" data-date-format="dd/mm/yyyy" value="">
                                                    <span class="badge badge-yellow" style="margin-left: 15px;"><span title="" class="ace-icon fa fa-question gray" data-rel="tooltip" data-placement="right" data-original-title="Enter Return Date of goods in DD/MM/YYYY format"></span></span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label control-label-left col-sm-3" for="drp_hod">HOD: </label>
                                            <div class="controls col-sm-9">
                                                <select id="drp_hod" name="drp_hod" class="select2 form-control" data-parsley-errors-container="#errId1" data-placeholder="Click to Choose HOD..." aria-hidden="true"></select>
                                            </div>
                                            <span id="errId1" class="error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label control-label-left col-sm-3" for="txt_remarks">Remarks: </label>
                                            <div class="controls col-sm-9">
                                                <textarea class="col-xs-12 col-sm-15 limited" id="txt_remarks" name="txt_remarks" maxlength="100"></textarea>
                                            </div>
                                            <span id="errId1" class="error"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12 col-sm-12" style="text-align: center;">
                <div class="clearfix">
                    <button id="btn_save" name="btn_save" type="submit" class="btn btn-success btn-next" data-last="Finish" onclick="return SubmitRequest();">Submit <i class="ace-icon fa fa-plus icon-on-right"></i></button>
                </div>
            </div>
        </div>
        <div class="widget-box col-sm-12">
            <div class="widget-body">
                <div class="widget-main">
                    <div class="form-group">
                        <div class="widget-body">
                            <div class="widget-main">
                                <div id="gv_AssetList">
                                    <table id="jqTable2"></table>
                                    <div id="jqTablePager2">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="viewAssetRequest" class="form-horizontal" class="hide">
        </div>
        <script type="text/javascript">
    function BindItem() {
                $("#drp_item").empty();
                var url = '@Url.Content("~/Asset/GetItem")';
        $.ajax({
            type: "POST", url: url, datatype: "Json",
            success: function (t) {
                $("#drp_item").append('<option value="">Select Item</option>'),
                    $.each(t, function (t, a) { $("#drp_item").append('<option value="' + a.Drpvalu + '">' + a.Drptext + "</option>") })
            }
        })
    }
    //Fill Company Dropdown
    function BindCompany() {
        $("#drp_company").empty();
        var url = '@Url.Content("~/Asset/GetCompany")';
        $.ajax({
            type: "POST", url: url, datatype: "Json",
            success: function (t) {
                $("#drp_company").append('<option value="">Select Company</option>'),
                    $.each(t, function (t, a) { $("#drp_company").append('<option value="' + a.Drpvalu + '">' + a.Drptext + "</option>") })
            }
        })
    }
    //Fill Division Dropdown
     function BindDivision(CompanyID) {
        $("#drp_division").empty();
        $("#drp_division").append('<option value="">Select Division</option>');

        var url = '@Url.Content("~/Asset/GetDivision")';
        try {
            $.ajax({
                type: "POST",
                url: url,
                data: { CompanyID: CompanyID },
                datatype: "Json",
                async: false,
                success: function (result) {
                    $("#drp_division").append('<option value="">Select Division</option>'),
                        $.each(result, function (result, a) { $("#drp_division").append('<option value="' + a.Drpvalu + '">' + a.Drptext + "</option>") });
                },
                beforeSend: function () {
                    $('#ajaxStatus').show();
                },
                complete: function () {
                    $('#ajaxStatus').hide();
                }
            });

        } catch (e) {
            $('#ajaxStatus').hide();
        }
    }
    //Fill Unit Dropdown
    function BindUnit(CompanyID, DivisionID) {
        $("#drp_unit").empty();
        $("#drp_unit").append('<option value="">Select Unit</option>');

        var url = '@Url.Content("~/Asset/GetUnit")';
        try {
            $.ajax({
                type: "POST",
                url: url,
                data: { CompanyID: CompanyID, DivisionID: DivisionID },
                datatype: "Json",
                async: false,
                success: function (result) {
                    $("#drp_unit").append('<option value="">Select Unit</option>'),
                        $.each(result, function (result, a) { $("#drp_unit").append('<option value="' + a.Drpvalu + '">' + a.Drptext + "</option>") });
                },
                beforeSend: function () {
                    $('#ajaxStatus').show();
                },
                complete: function () {
                    $('#ajaxStatus').hide();
                }
            });

        } catch (e) {
            $('#ajaxStatus').hide();
        }
    }
    //Fill Department Dropdown
    function BindDepartment(CompanyID, DivisionID, UnitID) {
        $("#drp_department").empty();
        $("#drp_department").append('<option value="">Select Department</option>');

        var url = '@Url.Content("~/Asset/GetDepartment")';
        try {
            $.ajax({
                type: "POST",
                url: url,
                //data: { CompanyID: CompanyID, DivisionID: DivisionID, UnitID: UnitID },
                data: { CompanyID: CompanyID, DivisionID: DivisionID, UnitID: UnitID},
                datatype: "Json",
                async: false,
                success: function (result) {
                    $("#drp_department").append('<option value="">Select Department</option>'),
                        $.each(result, function (result, a) { $("#drp_department").append('<option value="' + a.Drpvalu + '">' + a.Drptext + "</option>") });
                },
                beforeSend: function () {
                    $('#ajaxStatus').show();
                },
                complete: function () {
                    $('#ajaxStatus').hide();
                }
            });

        } catch (e) {
            $('#ajaxStatus').hide();
        }
    }
    //Fill Designation Dropdown
            function BindDesignation(CompanyID) {
        $("#drp_designation").empty();
        var url = '@Url.Content("~/Asset/GetDesignation")';
        $.ajax({
            type: "POST",
            url: url,
            data: { CompanyID: CompanyID},
            datatype: "Json",
            success: function (t) {
                $("#drp_designation").append('<option value="">Select Designation</option>'),
                    $.each(t, function (t, a) { $("#drp_designation").append('<option value="' + a.Drpvalu + '">' + a.Drptext + "</option>") })
            }
        })
    }
    //Fill Location Dropdown
    function BindLocation() {
        $("#drp_location").empty();
        var url = '@Url.Content("~/Asset/GetLocation")';
        $.ajax({
            type: "POST", url: url, datatype: "Json",
            success: function (t) {
                $("#drp_location").append('<option value="">Select Location</option>'),
                    $.each(t, function (t, a) { $("#drp_location").append('<option value="' + a.Drpvalu + '">' + a.Drptext + "</option>") })
            }
        })
    }
    //Fill HOD Dropdown
    function BindHOD() {
        $("#drp_hod").empty();
        var url = '@Url.Content("~/Asset/GetAssetHOD")';
        $.ajax({
            type: "POST", url: url, datatype: "Json",
            success: function (t) {
                $("#drp_hod").append('<option value="">Select HOD</option>'),
                    $.each(t, function (t, a) { $("#drp_hod").append('<option value="' + a.Drpvalu + '">' + a.Drptext + "</option>") })
            }
        })
    }
        </script>
</form>